#Ignore Build , dist and nbProject/private folder
webapp/build/
webapp/dist/
webapp/nbproject/private/

webapp/HDBlockV1-ejb/build/
webapp/HDBlockV1-ejb/dist/
webapp/HDBlockV1-ejb/nbproject/private/

webapp/HDBlockV1-war/build/
webapp/HDBlockV1-war/dist/
webapp/HDBlockV1-war/nbproject/private/
